@import "tailwindcss";


body{
  background-image: url("/images/bodyimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif
}
.footer-bg{
  background-image: url("/images/foter_img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.containers{
  width: 1300px;
  margin: 0 auto;
  padding: 0 auto;
  
}

/* hero */
.hero-bg{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
}
.hero-bg2{
  background-image: url("/images/heroimg_1.png");
  background-repeat: no-repeat;
  background-position: calc(60% - 800px)70px;
}



/* Popular */
.Popular-bg{
  background-image: url("/images/bludaimg_chap.png"), url("/images/bludaimg_ong.png");
  background-repeat: no-repeat;
  background-position: top right , bottom left;
}

/* Booking */
.booking-bg , .bg-ic{
  background:#b8b8b8;
}


.booking-bg-img{
  background-image: url("/images/piizaimg_bargli.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size:  800px 780px;
}

/* Gallary */
.gallery-bg{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
}